<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="WorkingDirectory" value="C:/Users/user/Desktop/protocol/workingDirectory/"/>
    <add key="GNUPlotExecutable" value="C:/Program Files/gnuplot/bin/gnuplot.exe"/>
  </appSettings>
</configuration>